main {
    display: grid;
    grid-template-columns: auto 400px;
    height: 100%;
    min-height: 100vh;
}

a {
    text-decoration: none;
}

main>div {
    padding: var(--bs-body-font-size);
}

.rounded-pill a {
    text-decoration: none;
    font-weight: 500;
    color: #fff;
}